@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";

* {
  font-family: "Hind";
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  margin-top: 2rem;
}

.header {
  background-color: rgba(255, 255, 255, 0.692);
  backdrop-filter: blur(3px);
}